<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}">
    </head>
<h1>ShiftAdd Challenge</h1>
    <br>
    <h2>What is {{ a }} + {{ b }} ?</h2>
    <form action= "/" method="post">
        <input type="num" name="answer"/>
        <input type="submit">
        <input type="hidden" name="challenge_id" value="{{id}}">
    </form>
    
</body>
<br>
<br>
<b><i>Previous challenge:</i></b> 
<p>Your score: {{ score }}</p> 
<p>The correct answer was {{answer}}</p>
<br>
<h2>Player Stats: {{ request.client.host }}</h2>
<table>
    <tr>
      <th>No. submitted</th>
      <th>Mean score</th>
      <th>Longest streak</th>
    </tr>
    <tr>
      <td>{{ challenges_submitted }}</td>
      <td>{{ mean_score }}</td>
      <td>{{ longest_streak }}</td>
    </tr>
  </table>
</html>